// ? Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-black: #000;
$color-white: #ffffff;

// ? Font Size
$default-font-size: 1.125rem;

// ? Grid
$grid-width: 75rem;
$gutter-verticle: 4rem;
$gutter-horizontal: 3rem;
